// Для импорта в диспетчер подключений: @import './src/less/blocks/feedback-form.less';


.feedback-form {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__input {
		height: 40px;
		width: 350px;
		font-size: 1em;
		color: @black-color;
		text-align: center;
		margin-bottom: 25px;
		border: 0;
		font-weight: 300;
		outline: none;
		&::placeholder {
			color: @gray-color;
		}
		&:focus::placeholder {
			opacity: 0; 
			transition: opacity 0.3s ease;
		}
	}

	&__text {
		font-size: 0.8em;
		color: @gray-color;
		a {
			color: @gray-color;
		}
		margin-bottom: 40px;
	}
	.main__btn {
		margin-top: 0;
	}

	&__submit {
		background-color: transparent;
		border: 0;
		position: absolute;
		top: 0;
		left: 0;
	}
}
