// Для импорта в диспетчер подключений: @import './src/less/blocks/logo.less';


.logo {
	display: inline-block;
	width: 165px;
	height: 77px;
	margin-right: auto;

	&__img {
		width: 100%;
		height: auto;
	}
}
