// Для импорта в диспетчер подключений: @import './src/less/blocks/main-menu.less';


.main-menu {
	display: inline-block;
	width: 50%;
	z-index: 9999;
	@media (min-width: @screen-md) and (max-width: @screen-lg) {
		// margin-right: auto;
	}
	@media (min-width: @screen-xs) and (max-width: @screen-sm) {
		display: none;
		padding-bottom: 15px;
		padding-top: 15px;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 100vh;
		background-color: rgba(255,255,255,1);
	}

	&__list {
		display: flex;
		flex-direction: row;
		list-style-type: none;
		justify-content: space-around;
		position: relative;
		text-align: center;
		@media (min-width: @screen-xs) and (max-width: @screen-sm) {
			padding: 0;
			flex-direction: column;
			text-align: center;
			height: auto;
			transition: 0.3s ease-in-out;
		}

	}

	&__item {
		display: inline-block;
		position: relative;
		&:hover .submenu{
			height: auto;
			transition: 0.3s ease-in-out;
		}
	}

	&__link {
		font-size: 1em;
		color: @gray-color;
		text-decoration: none;
		display: block;
		text-transform: uppercase;
		transition: 0.3s ease-in-out;
		cursor: pointer;
		padding: 0 10px;
		white-space: nowrap;
		&:hover {
			color: #000;
			transition: 0.3s ease-in-out;
		}
		@media (min-width: @screen-sm) and (max-width: @screen-md) {
			font-size: 0.8em;
		}
		@media (min-width: @screen-xs) and (max-width: @screen-sm) {
			line-height: 2;
			padding: 5px 0;
			&--hidden {
				display: none;
			}
		}

	}

	&__marker {
		display: inline-block;
		height: 39px;
		width: 59px;
		position: absolute;
		right: 8px;
		top: 10px;
		cursor: pointer;

		@media (min-width: @screen-sm) {
			display: none;
		}

		&:after {
			content: '';
			display: inline-block;
			height: 15px;
			width: 15px;
			border-left: 1px solid @red-color;
			border-bottom: 1px solid @red-color;
			position: absolute;
			top: 7px;
			right: 23px;
			transform: rotate(-45deg);
			transition: 0.3s;
		}
		&--active {
			&:after {
				transform: rotate(135deg);
				top: 14px;
				transition: 0.3s;
			}
		}

	}
}
