// Для импорта в диспетчер подключений: @import './src/less/blocks/main-menu.less';


.main-menu {
	display: inline-block;
	flex-basis: 50%;
	z-index: 9999;
	@media (min-width: @screen-md) and (max-width: @screen-lg) {
		margin-right: auto;
	}
	@media (min-width: @screen-xs) and (max-width: @screen-sm) {
		display: none;
		padding-bottom: 15px;
		padding-top: 15px;
		position: absolute;
		top: 100%;
		left: 5px;
		// right: -15px;
		width: 100%;
		background-color: rgba(255,255,255,.9);
	}

	&__list {
		display: flex;
		flex-direction: row;
		list-style-type: none;
		justify-content: space-around;
		@media (min-width: @screen-xs) and (max-width: @screen-sm) {
			padding: 0;
			flex-direction: column;
			text-align: center;
			height: auto;
		}
	}

	&__link {
		font-size: 1em;
		color: @gray-color;
		text-decoration: none;
		display: block;
		text-transform: uppercase;
		@media (min-width: @screen-sm) and (max-width: @screen-md) {
			font-size: 0.8em;
		}
		@media (min-width: @screen-xs) and (max-width: @screen-sm) {
			line-height: 2;
		}
	}

	&__marker {
		display: inline-block;
		height: 39px;
		width: 59px;
		position: absolute;
		right: 8px;
		top: 10px;
		cursor: pointer;

		@media (min-width: @screen-sm) {
			display: none;
		}

		&:after {
			content: '';
			display: inline-block;
			height: 15px;
			width: 15px;
			border-left: 1px solid @red-color;
			border-bottom: 1px solid @red-color;
			position: absolute;
			top: 7px;
			right: 23px;
			transform: rotate(-45deg);
			transition: 0.3s;
		}
		&--active {
			&:after {
				transform: rotate(135deg);
				top: 14px;
				transition: 0.3s;
			}
		}

	}
}
